header>h3{
    margin-left:80px;
    margin-top:15px;
    position: absolute;


}
p{
    width:330px;
}

p,h3,h2{
    margin-left: 25px;
    margin-right:25px;

}

.galerie>li{
    display: inline-block;
    margin-bottom: 20px;
    margin-top:20px;

}

.autres-projets>li{
    display: inline-block;
    margin-bottom: 20px;
    margin-top:20px;
    width : 100px;
    text-align: center;
}

.autres-projets{
    margin:0;
}

.pictures{
    display: inline-block;
}

footer>p:last-of-type{
    text-align: center;
}

footer>p:first-of-type{
    width:10px;
}

nav>p{
    text-align: center;
}

h1{
    margin-top:-100px;
}

nav>h3#bouton1>a,h3#bouton2>a{
    margin-left:40px;
    padding-left: 40px;
    padding-right:40px;
}

nav>p{

    margin-top:30px;
}

.fleche-gauche{
    margin-left:20px;
    text-align: center;
    display: inline-block;
}

.fleche-droite{
    margin-left:30px;
}


.reseaux{
    margin-left:20px;
}

.formulaire>h2:first-of-type{
    margin-left:0;
    margin-bottom:0;
    padding-left: 20px;
}
.formulaire>h2:last-of-type{
    margin-left:0;
    margin-top:0;
    padding-left: 20px;
}

html,body{
    overflow-x:hidden;
    position: relative
}