
body{
    background-color: #010314;
}
header{
    background: radial-gradient(#0e0052 , #010314 );
    height: 75px;
}

footer{
    background-color: #4D5563;
}
h3>a{
    background-color: #0e0052;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: center;
}
h2{
    background:linear-gradient(90deg,#0e0052,#010314);
    padding:10px;
}
/*Paramétrages des images des images*/
img#logo{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    mix-blend-mode: exclusion;
}
img#fond1{
    position:relative;
    mix-blend-mode: difference;
}
img#fond2{
    margin-bottom: 0;
}
img#article2\.2{
    float:left;
}
.autres-projets>li>img{
    width:92px;
    height:135px;
}
.galerie>li>img{
    width:100px;
    height:144px;
}
img#MMI{
    width:75px;
    height:75px;
    margin-left:150px;
}
.galerie>ul>li{
   list-style-type: none;
}
.galerie{
    background-color: #0e0052;
}
.extrait{
    background-color: #0e0052;
}
.autres-projets{
    background-color: #0e0052;

}
.fleche>a{
    color:white;
}
.tagline{
    background-color: #4D5563;
    padding:40px;
    margin-top:225px;
    margin-bottom:0;
    margin-left:0;
    text-align: center;

}
.intro{
    margin-top:0;
    border-left: 20px solid #0e0052;
}
.intro>h2{
    padding-left:20px;
    position: relative;
    margin-left:0;
}
.intro>q{
    border-left: 10px solid #0e0052;
}
p>a{
    color:#37A0F5;
}
.fleche>img{
    width:34px;
    height:34px;
}

img#fond1{
    width:100%;
}